*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #fff;
}

header
{
    position: relative;
    min-width: 800px;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top-Header
{
    position: relative;
    min-width: 800px;
    width: 100%;
    display: flex;
    padding: 10px auto; 
}

#bottom-Header
{
    min-width: 800px;
    width: 100%;
    display: flex;
    padding: 10px auto;
    border-bottom: solid 1px #cecece;   
}

#bottom-Header li
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #cecece;
    height: 40px;  
    margin: 10px 0;
}

#bottom-Header span
{
    margin: 0 10px;
}

#logoDiv
{
    width: 200px;
    margin: 5px 10px;
}

#accountInformation
{
    position: absolute;
    right: 0;
}

#footerDiv
{
    background: #ebebeb;
    border-radius: 5px;
    min-width: 600px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    margin: 0 -300px;
    bottom: 30px;
}

ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

li
{
    padding: 0 5px;   
}

a
{
    text-decoration: none;
    color: #505050;
}

a:hover
{
    color: #ddb152;
    cursor: pointer;
}

input[type=button] {
    width: 100%;
    background-color: #ddb152;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

input[type=button]:hover {
    background-color: #bc9745;
}

main
{
    position: relative;
    min-width: 800px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

#accountsSection {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: solid 1px #cecece;
    padding: 10px;
    box-sizing: border-box;

}

#accountsHolder
{
    width: 40%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #cecece;
}

#accountsInfo
{
    width: 95%;
    height: 95%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddb152;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 0 1px #000;   
}

#accountHistory
{
    width: 55%;   
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#accountHistory h2
{
    font-size: 24px;   
    font-weight: 300;
    margin-bottom: 10px;
    border-bottom: solid 1px #cecece;
}

.historyBar
{
    width: 100%;
    display: flex;

}

.expenditure, .income
{
    width: 100px;
    height: 80%;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expenditure
{
    background: #DB435E;
}

.income
{
    background: #66ba75;   
}

#promotionGallery
{
    height: 400px;
    width: 100%;
    overflow: none;
    animation: slide 10s infinite;
    background-image: url(FirstWP.jpeg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes slide
{
    0%
    {
        background-image: url(FirstWP.jpeg);   
    }
    33%
    {
        background-image: url(SecondWP.jpeg);   
    }
    67%
    {
        background-image: url(ThirdWP.jpeg);   
    }
}

h1
{
    font-size: 36px;   
    font-weight: 400;
}

h3
{
    font-size: 18px;
    margin-top: 5px;
    font-weight: 100;
}

span
{
    color: #505050;  
}
